{% extends 'tasks/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'tasks/authenticate/css/auth.css' %}">
{% endblock style %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile_style %}
{% endblock profile_style %}

{% block profile %}
{% endblock profile %}

{% block body %}
    {% if disable %}
        <h3 class="{% if error %}error{% else %}success{% endif %} h3_error">{{ disable_message }}</h3>
    {% else %}
        <form class="form" method="POST" action="{{ submit_url }}">
            {% csrf_token %}
            <h2>Change Password</h2>
            {{ form.password }}
            {{ form.confirm_password }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    {% if form.errors %}
        <ul>
            {% for field_error_dict in form.errors.values %}
                {% for error_data in field_error_dict %}
                    <li class="{% if error %}error{% else %}success{% endif %}">{{ error_data }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="links">
        <a href="{% url 'tasks:url-login' %}">
            <button class="links_button">Login</button>
        </a>
        <a href="{% url 'tasks:url-register' %}">
            <button  class="links_button">Register</button>
        </a>
    </div>
{% endblock body %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile_script %}
{% endblock profile_script %}
