{% extends 'tasks/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'tasks/authenticate/css/auth.css' %}">
{% endblock style %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile %}
{% endblock profile %}

{% block body %}
    <form class="form" method="POST" action="{% url 'tasks:url-forgot-password-request' %}">
        {% csrf_token %}
        <h2>Forgot Password</h2>
        <p>Enter email or username for password reset link.</p>
        {{ form.username_or_email }}
        <button type="submit">Reset Password</button>
    </form>

    {% if form.errors %}
        <ul>
            {% for field_error_dict in form.errors.values %}
                {% for error_data in field_error_dict %}
                    <li class="{% if error %}error{% else %}success{% endif %}">{{ error_data }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="links">
        <a href="{% url 'tasks:url-login' %}">
            <button class="links_button">Login</button>
        </a>
        <a href="{% url 'tasks:url-register' %}">
            <button  class="links_button">Register</button>
        </a>
    </div>
{% endblock body %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile_scripts %}
{% endblock profile_scripts %}

