{% extends 'tasks/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'tasks/authenticate/css/auth.css' %}">
{% endblock style %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile %}
{% endblock profile %}

{% block body %}
    <form class="form" method="POST" action="{% url "tasks:url-register" %}">
        {% csrf_token %}
        <h2>Register</h2>
        {{ form.username }}
        {{ form.email }}
        {{ form.password }}
        {{ form.confirm_password }}
        <button type="submit">Register</button>
    </form>
    
    {% if form.errors %}
        <ul>
            {% for field_error_dict in form.errors.values %}
                {% for error_data in field_error_dict %}
                    <li class="{% if error %}error{% else %}success{% endif %}">{{ error_data }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="links">
        <a href="{% url 'tasks:url-login' %}">
            <button class="links_button">Login</button>
        </a>
        <a href="{% url 'tasks:url-forgot-password-request' %}">
            <button class="links_button">Forgot Password</button>
        </a>
    </div>
{% endblock body %}

{% comment %} Because we don't want profile section in public pages {% endcomment %}
{% block profile_scripts %}
{% endblock profile_scripts %}
