{% extends 'tasks/index.html' %}
{% load static %}
{% load tasks_tag %}
    
    {% block style %}
        <link rel="stylesheet" href="{% static 'tasks/css/dates.css' %}" type="text/css">
    {% endblock style %}

        {% block body_title %}
            <h1 class="header">
                <a href="{% url 'tasks:url-month-data' year month %}" class="title_a">
                    <span class="centered_content">{{ month | title }} {{ date }}, {{ year }}</span>
                </a>
                <a id="add_image" href="{% url 'tasks:url-create-task' year month date %}">
                    <img src="{% static 'tasks/images/add_button.png' %}" alt="Create New">
                </a>
            </h1>
        {% endblock body_title %}

        {% block body %}
            <div class="page_container">
                {% if  tasks|length > 0 %}
                    {% for counter, task in tasks|enumerate:1 %}
                        <div id="{{ counter }}" class='page' onclick="expandPage(event, '{{ task.task }}')">
                            <div class='page_content'> 
                                {{ task.task }}
                            </div>
                            <div class='page_no'> {{ counter }} </div>
                            <div class="page_operation" 
                                data-code-edit="{% url 'tasks:url-edit-task' slug=task.slug %}" 
                                data-code-delete="{% url 'tasks:url-delete-task' slug=task.slug %}">
                                <button class='btn edit_btn' onclick="editButton(event)">
                                    Edit
                                </button>
                                <button class='btn delete_btn' onclick="deleteButton(event)">
                                    Delete
                                </button>
                            </div>
                            <div class="page_date"> {{ task.created_at|date:"M d, Y - h:i A" }} </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="no_record"> No Records.... </h2>
                {% endif %}
            </div>
            <script type='text/javascript' src="{% static 'tasks/js/dates.js' %}"></script>
        {% endblock body %}
