{% extends 'tasks/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/form.css' %}">
{% endblock style %}

{% block body_title %}
    <div class="head">
        <a href="{% url 'tasks:url-index-default' %}">
            <h1>{{ app_name }} &#x1F604;</h1> 
        </a>
        <h2> 
            {{ title }} - 
            <a href="{% url 'tasks:url-date-data' year month date %}"> 
                {{ month|title }} {{ date }}, {{ year }} 
            </a> 
        </h2>
    </div>
{% endblock body_title %}

{% block body %}
<div class="form">
    <form method="POST" action="{{ submit_url }}">
        {% csrf_token %}
        <label for="{{ form.task.id_for_label }}" class="lbl">{{ form.task.label }}:</label>

        {{ form.task }}
        <input type="submit" class='btn' name='submit_button'>
    </form>
</div>
{% if show_message %}
    <div class="message{% if is_error %} error {% endif %}">
        {% for element in messages %}
            <li> {{ element }} </li>
        {% endfor %}
    </div>
{% endif %}
{% endblock body %}
